/* viewport */
.vw-100 {
    width: 100vw!important;
}

.vh-100 {
    height: 100vh!important;
}

/* width */
.w-fit {
    width: fit-content!important;
}

.w-10{
    width: 10%!important;
}

.w-15{
    width: 15%!important;
}

.w-20{
    width: 20%!important;
}

/* height */
.h-fit {
    height: fit-content!important;
}

.h-90 {
    height: 90%!important;
}

.h-30 {
    height: 30%!important;
}

.h-40 {
    height: 40%!important;
}